<h2>Configuration from the Spring Cloud Config Server</h2>

<p>Here is the value.</p>

<table width="50%">
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  <tr>
    <th><em>Foo</em></th>
    <th><em>@ViewData["Foo"]</em></th>
  </tr>
  <tr>
    <th><em>Bar</em></th>
    <th><em>@ViewData["Bar"]</em></th>
  </tr>
</table>